.profile {
    background-color: rgb(250, 250, 250);
    border-radius: 8px;
    width: 320px;
    margin: 20px auto;
    box-shadow: 0px 5px 10px 0px rgba(29, 29, 29, 0.5);
}

.profile:hover {
    scale: 1.2;
}

.description {
    padding-top: 20px;
    text-align: center;
    color: gray;
    font-weight: bold;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    background-color: lightsalmon;
    margin: 0 auto;
}

.name {
    font-weight: 600px;
    font-size: 30px;
    line-height: 1.14;
    margin-bottom: 5px;
}

.tag,
.location {
    font-weight: 400;
    font-size: 25px;
    line-height: 1.14;
    color: rgba(128, 128, 128, 0.784);
    margin-top: 5px;
    margin-bottom: 5px;
}

.stats {
    display: flex;
    list-style: none;
    justify-content: space-around;
    height: 90px;
    background-color: lightsalmon;
    padding: 0;
    margin-bottom: 0;
    margin-top: 30px;

}

.label,
.quantity {
    display: block;
    text-align: center;
    align-items: center;
    font-weight: 450;
    font-size: 16px;
    line-height: 1.86;
    color: rgba(95, 94, 94, 0.784);
    padding-top: 9px;
}

.quantity {
    font-size: 20px;
    color: black;
    padding-top: 0;
}